n8n-workflows/Digital Food Twin (3).json
{
  "name": "Digital Food Twin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "341c1c9e-85e0-4923-8f89-29b1a23cb839",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        0
      ],
      "id": "1da78ff5-dd11-49e6-a676-cae25679f685",
      "name": "Webhook",
      "webhookId": "341c1c9e-85e0-4923-8f89-29b1a23cb839"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# TASK\nYou are a \"Food Concierge\" and expert nutritionist. You operate in two modes:\n\n## MODE A: MENU ANALYSIS (If an image is present)\n- Analyze the menu based on the User Profile.\n- Cross-reference with Past Meal History (Regrets).\n- Provide recommendations.\n\n## MODE B: GENERAL CHAT (If NO image is present)\n- You are a helpful assistant for finding food, calculating calories, or general advice.\n- **Location Aware:** If the user asks for restaurants, use the 'find_restaurants' tool.\n- **Profile Aware:** Always keep their favorites ({{ $json.userProfile.favorite_foods }}) and goals in mind.\n- **Context:** The user is currently at coordinates: {{ $json.body.userLocation.lat }}, {{ $json.body.userLocation.long }}.\n\n# CRITICAL RULE\n- If the user sends a text message like \"Find me lunch\" WITHOUT a menu image, **DO NOT** ask for a menu. Just answer the question using your tools and knowledge.",
        "options": {
          "systemMessage": "You are a culinary intelligence analyst for the Digital Food Twin app. Analyze the menu image and provide personalized recommendations based on the user's profile and past meal history.\n\n## User's Food DNA Profile\n{{ $json.ai_context }}\n\n## User's Past Meal History (The \"Regret Log\")\n{{ JSON.stringify($json.data) }}\n\n## Analysis Framework:\n\n### 1. ⚠️ LEARNING FROM HISTORY (New)\nCheck the Past Meal History. If any items on the current menu are similar to what the user previously logged as \"Regret\", \"Bloated\", or \"Hungry\":\n- Call them out explicitly.\n- *Example: \"Last time you had the Cheeseburger, you felt 'Bloated'. You may want to swap for the Grilled Chicken instead.\"*\n\n### 2. TOP 3 RECOMMENDATIONS\nIdentify the best matches based on the Profile and Mode ({{ $json.mode }}).\n- **Dish Name**\n- **Why it matches**: Connect to specific preferences and goals.\n- **Confidence**: High / Medium / Low.\n\n### 3. INFERRED INGREDIENTS (Critical)\nFlag hidden truths:\n- \"Creamy/Cheesy\" → high saturated fat.\n- \"Fried/Crispy\" → seed oils.\n- \"Thai/Peanut\" → ⚠️ Allergy check (Nuts).\n\n### 4. ITEMS TO AVOID\nList dishes that conflict with allergies or dislikes (e.g., Beets, Olives, Nuts).\n\n### 5. SERVER SCRIPT\nGenerate a polite script for modifications based on their profile.\n\n### 6. IF/THEN TRADE-OFF\n*Example: \"If you choose the pasta, skip the bread basket to stay in Goal Mode.\"*\n\n## USER'S FAVORITE FOODS (Prioritize These!)\n{{ $json.ai_context.favorite_foods }}\n\n## CRITICAL INSTRUCTION\n- When analyzing the menu, look for dishes that match or resemble the user's \"Favorite Foods.\"\n- Highlight these as \"Personal Favorites\" in your Top 3 Recommendations.\n- Example: \"You mentioned you love Sushi—the Ahi Carpaccio is a fantastic healthy alternative here!\"\n\nFormat in clear Markdown.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "cbdabbdf-d490-42a9-b19b-191a0621ad17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"recommendations\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        0
      ],
      "id": "207f3b18-c087-4a7e-925d-d560d7b40b60",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "c5424161-549d-4185-b3b3-042fc3f6fe5b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Bp7VfJdApnukThJH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "cleanImage",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        96
      ],
      "id": "3d592367-698a-4d6e-8bb7-cebc0a6c8cc8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b45f5ece-91a1-4b78-82fd-0e7ce415c31e",
              "name": "cleanImage",
              "value": "={{ $json.body.menuImage.split(',').pop() }}",
              "type": "string"
            },
            {
              "id": "4cf8b2cb-ee6a-4601-8b2c-7a8f4d1ac3ba",
              "name": "ai_context",
              "value": "={{ JSON.stringify({\n   profile: $json.body.userProfile,\n   mode: $json.body.mode\n}) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        0
      ],
      "id": "478c1732-1b2b-4209-9937-e46ed6c06587",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "scans",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_response",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "5c2d67f4-2398-4790-8b97-0d20c3282e35",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dfcbd35-2473-42cc-951f-19d5cfa6dc2c",
              "name": "output",
              "value": "={{ $json.ai_response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "242cd504-9a71-4fd4-8bde-e655992ffd6e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "meal_logs",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "device_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.body.deviceId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -128
      ],
      "id": "91742ac0-bc5d-4a6b-af63-a3a0cd0b9e99",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "10c992ea-d5a7-4eb8-b9a6-3920367b3fe2",
      "name": "Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        0
      ],
      "id": "f97ea3ec-8ea1-42c9-b1a1-ba6a24d4e7db",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchNearby",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.rating,places.priceLevel,places.location"
            },
            {
              "name": "X-Goog-Api-Key",
              "value": "AIzaSyCvn3B70vwh7C4epR35Lh1ohRrk9hUfFiQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includedTypes\": [\"restaurant\"],\n  \"textQuery\": \"{{ $fromAI('keyword') }}\",\n  \"locationRestriction\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $('Webhook').first().json.body.userLocation.lat }},\n        \"longitude\": {{ $('Webhook').first().json.body.userLocation.long }}\n      },\n      \"radius\": 5000\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        576,
        208
      ],
      "id": "03f1a02a-000e-4064-8831-3cf375e76d0a",
      "name": "Find Restaurants"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Restaurants": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75957699-71d2-4f21-94a7-9d7992eb33a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e72e2a94e1abada14298c3e829097ef63577ff1eca745b6f76371244bdd4d6d"
  },
  "id": "HcQsl1GTRyyyJAhW",
  "tags": []
}