n8n-workflows/Estimate Nutrition API.json
{
  "name": "Estimate Nutrition API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estimate-nutrition",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a9008cdb-2926-480d-b669-e03d6be312c9",
      "name": "Webhook",
      "webhookId": "ccbcbc10-8671-43c4-89f6-fe278c137543"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "5ae3b579-c391-4097-adce-b8116ff17b0a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bSuWvmm2Qf8vKBaw",
          "mode": "list",
          "cachedResultUrl": "/workflow/bSuWvmm2Qf8vKBaw",
          "cachedResultName": "Tool - Smart Nutrition Estimate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "meal_name": "={{ $json.body.meal_name }}",
            "restaurant_name": "={{ $json.body.restaurant_name }}",
            "device_id": "={{ $json.body.device_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "meal_name",
              "displayName": "meal_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "restaurant_name",
              "displayName": "restaurant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "device_id",
              "displayName": "device_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "6143e96a-ba6d-413b-9725-99dd0f64c9d0",
      "name": "Call 'Tool - Smart Nutrition Estimate'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'Tool - Smart Nutrition Estimate'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tool - Smart Nutrition Estimate'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c33493a-ca58-47ed-b61f-9c3ef6a07b34",
  "meta": {
    "instanceId": "0e72e2a94e1abada14298c3e829097ef63577ff1eca745b6f76371244bdd4d6d"
  },
  "id": "l6nsbQQctL3YQiFH",
  "tags": []
}