n8n-workflows/Tool - Get Group Food DNA (fixed).json
{
  "name": "Tool - Get Group Food DNA",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "490bebad-e0b2-48c1-945b-e26cfc8807d4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// --- Input: user_ids from the parent workflow ---\n// Defensive: handle missing input (e.g. a manual editor execute-test with no\n// pinned trigger data) and user_ids arriving as a JSON string or CSV string.\nconst triggerJson = $('When Executed by Another Workflow').first().json || {};\nlet userIds = triggerJson.user_ids;\n\nif (typeof userIds === 'string') {\n  try { userIds = JSON.parse(userIds); }\n  catch (e) { userIds = userIds.split(',').map(s => s.trim()).filter(Boolean); }\n}\nif (!Array.isArray(userIds)) userIds = [];\n\nif (userIds.length === 0) {\n  return [{ json: {\n    error: 'No user_ids received. Pass user_ids as an array of profile UUIDs. If testing manually in the editor, pin test data on the trigger node first, e.g. {\"user_ids\": [\"<uuid1>\", \"<uuid2>\"]}.',\n    group_size: 0,\n    members: []\n  }}];\n}\n\n// Each Supabase node outputs one item per row; alwaysOutputData can emit a\n// single empty item when a query returns no rows, so filter those out.\nconst rows = (nodeName) => $(nodeName).all()\n  .map(i => i.json)\n  .filter(j => j && Object.keys(j).length > 0);\n\nconst profiles = rows('Get Profiles');\nconst publicProfiles = rows('Get Public Profiles');\nconst constraints = rows('Get Dietary Constraints');\nconst cuisinePrefs = rows('Get Cuisine Preferences');\nconst flavorProfiles = rows('Get Flavor Profiles');\n\n// Build a profile for each user\nconst groupMembers = userIds.map(userId => {\n  const profile = profiles.find(p => p.user_id === userId) || {};\n  const publicProfile = publicProfiles.find(p => p.id === userId) || {};\n  const userConstraints = constraints.find(c => c.user_id === userId) || {};\n  const userCuisines = cuisinePrefs.filter(c => c.user_id === userId) || [];\n  const userFlavor = flavorProfiles.find(f => f.user_id === userId) || {};\n  \n  return {\n    user_id: userId,\n    name: publicProfile.display_name || publicProfile.username || 'Friend',\n    \n    // Dietary constraints (HARD requirements)\n    allergies: userConstraints.allergies || [],\n    restrictions: userConstraints.restrictions || [],\n    never_eat: userConstraints.never_eat || [],\n    \n    // Preferences (SOFT - try to match)\n    favorite_foods: profile.favorite_foods || [],\n    dislikes: profile.dislikes || [],\n    \n    // Cuisine preferences\n    favorite_cuisines: userCuisines.map(c => c.cuisine_type),\n    cuisine_details: userCuisines.map(c => ({\n      cuisine: c.cuisine_type,\n      favorite_dishes: c.favorite_dishes || [],\n      spice_level: c.spice_level || 5\n    })),\n    \n    // Taste profile (user_flavor_profile.spicy_preference, 1-10 slider -\n    // NOT user_profiles.spicy_preference, which is a 0-100 swipe-derived score)\n    spicy_tolerance: userFlavor.spicy_preference || 5\n  };\n});\n\n// Compile group constraints\nconst allAllergies = [...new Set(groupMembers.flatMap(m => m.allergies))];\nconst allRestrictions = [...new Set(groupMembers.flatMap(m => m.restrictions))];\nconst allNeverEat = [...new Set(groupMembers.flatMap(m => m.never_eat))];\nconst allDislikes = [...new Set(groupMembers.flatMap(m => m.dislikes))];\n\n// Find cuisines EVERY member lists (strict - not majority)\nconst cuisineCounts = {};\ngroupMembers.forEach(m => {\n  m.favorite_cuisines.forEach(c => {\n    cuisineCounts[c] = (cuisineCounts[c] || 0) + 1;\n  });\n});\n\nconst sharedCuisines = Object.entries(cuisineCounts)\n  .filter(([cuisine, count]) => count === groupMembers.length)\n  .map(([cuisine]) => cuisine)\n  .sort((a, b) => cuisineCounts[b] - cuisineCounts[a]);\n\n// Find lowest spice tolerance in group\nconst lowestSpiceTolerance = Math.min(...groupMembers.map(m => m.spicy_tolerance));\n\nreturn [{\n  json: {\n    group_size: groupMembers.length,\n    members: groupMembers,\n    \n    // HARD constraints - must respect these\n    hard_constraints: {\n      all_allergies: allAllergies,\n      all_restrictions: allRestrictions,\n      all_never_eat: allNeverEat,\n      description: (allAllergies.length > 0 || allRestrictions.length > 0 || allNeverEat.length > 0)\n        ? `Must avoid: ${[...allAllergies, ...allRestrictions, ...allNeverEat].join(', ')}`\n        : 'No hard dietary restrictions'\n    },\n    \n    // SOFT preferences - try to accommodate\n    soft_preferences: {\n      shared_favorite_cuisines: sharedCuisines,\n      combined_dislikes: allDislikes,\n      max_spice_level: lowestSpiceTolerance\n    },\n    \n    // Recommendation summary\n    recommendation_notes: generateRecommendationNotes(groupMembers, sharedCuisines, allAllergies, allNeverEat)\n  }\n}];\n\nfunction generateRecommendationNotes(members, sharedCuisines, allergies, neverEat) {\n  const notes = [];\n  \n  if (allergies.length > 0) {\n    notes.push(`⚠️ Allergy alert: ${allergies.join(', ')} - must avoid these`);\n  }\n  \n  if (neverEat.length > 0) {\n    notes.push(`🚫 Never serve: ${neverEat.join(', ')} - hard constraints, treat like allergies`);\n  }\n  \n  if (sharedCuisines.length > 0) {\n    notes.push(`✅ Cuisines every single member enjoys: ${sharedCuisines.slice(0, 3).join(', ')}`);\n  } else {\n    notes.push(`ℹ️ No cuisine that every member lists - look for versatile restaurants`);\n  }\n  \n  const spiceLevels = members.map(m => m.spicy_tolerance);\n  if (Math.max(...spiceLevels) - Math.min(...spiceLevels) > 4) {\n    notes.push(`🌶️ Mixed spice preferences - choose a place with mild and spicy options`);\n  }\n  \n  return notes;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "b607de66-09a9-4388-9824-37aaba2fcbb4",
      "name": "Compile Group DNA1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_cuisine_preferences",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=user_id=in.({{ $('When Executed by Another Workflow').first().json.user_ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "cb514f99-f7d1-4186-b8d8-54c7f0da1e30",
      "name": "Get Cuisine Preferences",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_dietary_constraints",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=user_id=in.({{ $('When Executed by Another Workflow').first().json.user_ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "80fd62ae-59b6-419d-b440-a7812965cf37",
      "name": "Get Dietary Constraints",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_public_profiles",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=id=in.({{ $('When Executed by Another Workflow').first().json.user_ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c138e78f-1817-4314-95a1-9692e928de9c",
      "name": "Get Public Profiles",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_profiles",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=user_id=in.({{ $('When Executed by Another Workflow').first().json.user_ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "4d59e165-5659-41a6-ba4c-3eba07047828",
      "name": "Get Profiles",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_flavor_profile",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=user_id=in.({{ $('When Executed by Another Workflow').first().json.user_ids.join(',') }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "7f3a1c52-9d84-4b06-a2e1-c05e8b6f2d19",
      "name": "Get Flavor Profiles",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cuisine Preferences": {
      "main": [
        [
          {
            "node": "Get Flavor Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dietary Constraints": {
      "main": [
        [
          {
            "node": "Get Cuisine Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Public Profiles": {
      "main": [
        [
          {
            "node": "Get Dietary Constraints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profiles": {
      "main": [
        [
          {
            "node": "Get Public Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flavor Profiles": {
      "main": [
        [
          {
            "node": "Compile Group DNA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af3552d9-61ca-4a91-8d91-a32c23f89321",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e72e2a94e1abada14298c3e829097ef63577ff1eca745b6f76371244bdd4d6d"
  },
  "id": "covntvo2jufHt1CU",
  "tags": []
}