n8n-workflows/Tool - Find Friends by Name.json
{
  "name": "Tool - Find Friends by Name",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "string"
            },
            {
              "name": "friend_names",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        0
      ],
      "id": "44074c76-7f67-4a27-9efa-6727230a6f6e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_friends",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=or=(user_id.eq.{{ $('When Executed by Another Workflow').first().json.user_id }},friend_id.eq.{{ $('When Executed by Another Workflow').first().json.user_id }})&status=eq.accepted"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "e4b7d9a1-3c25-4f68-b0d2-a91c5e7f3b84",
      "name": "Get User's Friends",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_public_profiles",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=id=in.({{ $('Extract Friend IDs').first().json.friend_ids_string }})"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9c2f5e83-7a41-4d96-8b3c-f60d2a84e175",
      "name": "Get Friend Profiles",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sf62mjIrqsqjFw86",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentUserId = $('When Executed by Another Workflow').first().json.user_id;\n\n// Supabase node outputs one item per row; alwaysOutputData can emit a single\n// empty item when there are no rows, so filter those out.\nconst relationships = $input.all()\n  .map(i => i.json)\n  .filter(j => j && Object.keys(j).length > 0);\n\nconst friendIds = relationships.map(rel =>\n  rel.user_id === currentUserId ? rel.friend_id : rel.user_id\n).filter(Boolean);\n\nreturn [{\n  json: {\n    friend_ids: friendIds,\n    // Zero-UUID sentinel keeps id=in.(...) valid when there are no friends\n    friend_ids_string: friendIds.length ? friendIds.join(',') : '00000000-0000-0000-0000-000000000000'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "33c76143-7cb9-4865-81fd-96b455e2ef9b",
      "name": "Extract Friend IDs"
    },
    {
      "parameters": {
        "jsCode": "// friend_names arrives as a string (JSON array or CSV) from the $fromAI input\nlet requestedNames = $('When Executed by Another Workflow').first().json.friend_names;\nif (typeof requestedNames === 'string') {\n  try { requestedNames = JSON.parse(requestedNames); }\n  catch (e) { requestedNames = requestedNames.split(',').map(s => s.trim()).filter(Boolean); }\n}\nif (!Array.isArray(requestedNames)) requestedNames = [];\n\nconst friendProfiles = $('Get Friend Profiles').all()\n  .map(i => i.json)\n  .filter(j => j && Object.keys(j).length > 0);\n\nconst matches = [];\nconst notFound = [];\n\nfor (const name of requestedNames) {\n  const nameLower = String(name).toLowerCase();\n  const match = friendProfiles.find(f =>\n    (f.display_name && f.display_name.toLowerCase().includes(nameLower)) ||\n    (f.username && f.username.toLowerCase().includes(nameLower))\n  );\n  if (match) {\n    matches.push({ requested_name: name, user_id: match.id, display_name: match.display_name, username: match.username });\n  } else {\n    notFound.push(name);\n  }\n}\n\nreturn [{ json: { matched_friends: matches, not_found: notFound, matched_user_ids: matches.map(m => m.user_id) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "447176cc-a1ae-44d6-899e-a9ac680ff23c",
      "name": "Match Names"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get User's Friends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Friends": {
      "main": [
        [
          {
            "node": "Extract Friend IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Friend Profiles": {
      "main": [
        [
          {
            "node": "Match Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Friend IDs": {
      "main": [
        [
          {
            "node": "Get Friend Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18e5d977-bac8-4799-a5e3-4ed63e651c8b",
  "meta": {
    "instanceId": "0e72e2a94e1abada14298c3e829097ef63577ff1eca745b6f76371244bdd4d6d"
  },
  "id": "aBnKquRFZaLH842o",
  "tags": []
}